*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ---Header--- */
/* header{
    background-color: #f2cc8f;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
} */

/* ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
} */

h1{
   
    color: black;
    text-align: center;
    font-family: fantasy;
    
}
/* Hero Section */
.hero{
    height: 98vh;
    background-image: url(../assest/img/portada.jpg);
   
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text{
    text-align: center;

    
}


.hero__button{
    padding: 15px 10px;
    border: 2px solid yellow;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
.hero__button:hover{
    background-color: #ffca3a;

}
h2{
    font-size: 1rem;
    font-family:fantasy;
    text-align: center;
   
}
h3{
    font-size: 1rem;
}



/* --Secciónes*/


/* sección1 */
.tarjeta{
    background-color: #d6d6d6;
    border: solid 10px;
    padding-top: 50px;
    margin-top: 20px;
    text-align: center;
}

.caja{
    background-color: #bcb8b1;
    color: black;
    padding-top: 30px;
   
}
/* redes */

.caja__titulo{
    background-color:#ffee32 ;
    text-align: center;
    padding: 5px;
}
 .contenedor-redes{
    display: flex;
    padding: 15px;
    justify-content: space-around;
    font-size: 3rem;
 }


.columna{
    background-color: #81b29a;
    color: black;
    padding: 20px;
    width: 25%;
    margin: 100px;
    margin-right: auto;

    border: solid 10px;
}
.columna__titulo{
    color: black;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton{
    padding: 15px 10px;
    border: 2px solid yellow;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

.boton :hover{
    background-color: #ffca3a;
}



