*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD


.pie-pagina{
    background-color: #b8d0ebd3;
    
=======
.pie-pagina{
    background-color: #b8d0ebd3;
>>>>>>> 52f8c22e53d73d181ebdcb4ae6d6cf2e9338db20

}

img{
    width: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
<<<<<<< HEAD
  

    }
=======
>>>>>>> 52f8c22e53d73d181ebdcb4ae6d6cf2e9338db20
   
    .titulo{
        font-size: 25px;
        color: black;
    }
   
<<<<<<< HEAD

=======
}
>>>>>>> 52f8c22e53d73d181ebdcb4ae6d6cf2e9338db20
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;


    div{
        display: flex;
        flex-direction: column;
    }
<<<<<<< HEAD
    h3{
=======
    h2{
>>>>>>> 52f8c22e53d73d181ebdcb4ae6d6cf2e9338db20
        color: darkslategrey;
        padding: 10px;
    
    }
    a{
        text-decoration: none;
        padding: 5px;
<<<<<<< HEAD
      
        
=======
>>>>>>> 52f8c22e53d73d181ebdcb4ae6d6cf2e9338db20
    }
}
form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    input{
        background:none;
        border: solid;
        padding: 10px 20px;
    }
    button{
        padding: 10px 20px;
        background: white;
<<<<<<< HEAD
        color:black;
    }
    button:hover{
        background-color: #84a59b;
    }
}

=======
        color: darkslategrey;
    }
}
>>>>>>> 52f8c22e53d73d181ebdcb4ae6d6cf2e9338db20
